@import url("https://fonts.googleapis.com/css2?family=Bangers&family=PT+Sans+Narrow&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Bangers", cursive;
  font-family: "PT Sans Narrow", sans-serif;
}

.spacer {
  height: 100px;
}
